.nav-title {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    color: #f2f2f2;
    padding-left: 10px;
}

.nav {
  /* margin: 0 0 30px; */
  background-color: #302825;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 4rem;
  width: 100%;
  overscroll-behavior: contain;
}

.nav-link {
  float: left;
  color: #f2f2f2;
  background-color: #302825;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;
  /* these last two make the logout button in
the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.nav-link:hover {
  background-color: #583929;
}

.nav-right {
  float: right;
}